
	<div class="ngdialog-message">
		<h3 translate="i18n_cart_validateorder_sure"></h3>
	</div>

	<br>
	<br>

	<div>
		<button type="button" class="btn btn-danger" style="float:left;" ng-click="closeThisDialog()"><i class="glyphicon glyphicon-share-alt glyphicon-flip-horizontal"></i> <span translate="i18n_common_btn_cancel"></span></button>
		<button type="button" class="btn btn-success" style="float:right;" ng-click="confirm()"><i class="glyphicon glyphicon-ok"></i> <span translate="i18n_cart_validateorder_sure_yes"></span></button>
		<div class="clear"></div>
	</div>