
	<div data-role="page" id="page-home" ng-show="settings_product_key == ''">

		<div class="c" style="padding-top:20px;">

			<h2 translate="i18n_install_productkey_fillin"></h2>

			<div class="input-group" style="margin:30px auto 0 auto; width:430px;">
				<input type="text" name="product-key" class="form-control input-lg" ng-model="submit_product_key" style="margin-right:10px; width:250px;" autocapitalize="off" autocorrect="off" placeholder="{{'i18n_install_productkey' | translate}}">
				<span class="input-group-btn">
					<button class="btn btn-lg btn-success" style="margin-left:15px;" ng-click="installSubmitProductKey()" translate="i18n_install_productkey_save"></button>
				</span>
			</div>

			<div class="privacy-policy">

<h3>Privacy Policy</h3>

<h4>Security</h4>
<p>The security of your personal information is extremely important. We take the following precautions to make sure it cannot be accessed or altered:
<div class="tick-list">
	<div class="tick-item"><img src="img/privacy-policy/tick-off.png" width="20" /> Data encrypted in transit</div>
	<div class="tick-item"><img src="img/privacy-policy/tick-off.png" width="20" /> Data encrypted in storage</div>
	<div class="tick-item"><img src="img/privacy-policy/tick-on.png" width="20" /> Industry standard Internal security protocols </div>
</div>

<h4>Data Collection</h4>

<h5>User Details</h5>
<div class="itemRow">
	<div class="itemActive"><img  width="30" src="img/privacy-policy/tick.png" /></div>
	<div class="itemName">Email address</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Mobile device telephone no.</div>
	<div class="clear"></div>
</div>

<h5>Device identifier</h5>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/tick.png" /></div>
	<div class="itemName">Device information (UDID)</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">MAC address</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img  width="30" src="img/privacy-policy/tick.png" /></div>
	<div class="itemName">OS version </div>
	<div class="clear"></div>
</div>

<h5>User files</h5>
<div class="itemRow">
	<div class="itemActive"><img  width="30" src="img/privacy-policy/tick.png" /></div>
	<div class="itemName">Photos/videos </div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Browser history</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Phone/text log</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Contacts</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Messages</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Installed apps</div>
	<div class="clear"></div>
</div>

<h5>Location</h5>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Location Data</div>
	<div class="clear"></div>
</div>

<h5>Biometrics</h5>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Fingerprint reader</div>
	<div class="clear"></div>
</div>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Voice authentification</div>
	<div class="clear"></div>
</div>

<h5>Health, medical or therapy information</h5>
<div class="itemRow">
	<div class="itemActive"><img width="30" src="img/privacy-policy/cross.png" /></div>
	<div class="itemName">Data</div>
	<div class="clear"></div>
</div>

<h4>Control</h4>
<p><strong>Bespoke Ordering</strong> does not allow you to access, amend and/or delete your data.</p>

			</div>

		</div>

	</div>


<div data-role="page" id="page-install" ng-show="show_productkey_form == false">
		<div id="home-center-panel">

			<table cellpadding="20">
				<tr>
					<td>
						<i class="glyphicon glyphicon-user"></i>
						<h2 translate="i18n_menu_clients"></h2>
						<a href="#/clients" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-list"></i> <span translate="i18n_home_clients_list"></span></a>
						<a href="#/clients-client-edit?do=newclient" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-plus"></i> <span translate="i18n_home_clients_add"></span></a>
					</td>
					<td>
						<i class="glyphicon {{theme_currency}}"></i>
						<h2 translate="i18n_menu_sales"></h2>
						<a href="#/sales?do=sales" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-list"></i> <span translate="i18n_home_sales_list"></span></a>
						<a href="#/order" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-plus"></i> <span translate="i18n_home_sales_add"></span></a><br>
					</td>
					<td>
						<i class="glyphicon glyphicon-tags"></i>
						<h2 translate="i18n_menu_purchases"></h2>
						<a href="#/purchases?do=purchases" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-list"></i> <span translate="i18n_home_purchases_list"></span></a>
						<a href="#/clients" class="btn btn-primary btn-block disabled"><i class="glyphicon glyphicon-eye-open"></i> <span translate="i18n_home_purchases_tracking"></span></a>
					</td>
					<td>
						<i class="glyphicon glyphicon-file"></i>
						<h2 translate="i18n_menu_accounting"></h2>
						<a href="#/clients" class="btn btn-primary btn-block disabled"><i class="glyphicon glyphicon-euro"></i> <span translate="i18n_menu_sales"></span></a>
						<a href="#/clients" class="btn btn-primary btn-block disabled"><i class="glyphicon glyphicon-tags"></i> <span translate="i18n_menu_purchases"></span></a>
					</td>
					<td>
						<i class="glyphicon glyphicon-stats"></i>
						<h2 translate="i18n_menu_reporting"></h2>
						<a href="#/clients" class="btn btn-primary btn-block disabled"><i class="glyphicon glyphicon-euro"></i> <span translate="i18n_menu_sales"></span></a>
						<a href="#/clients" class="btn btn-primary btn-block disabled"><i class="glyphicon glyphicon-tags"></i> <span translate="i18n_menu_purchases"></span></a>
					</td>
				</tr>
			</table>

		</div>

		<a href="#/settings" class="settings"><i class="glyphicon glyphicon-cog"></i></a>

	</div>
